@(loginForm: Form[Account])(implicit request: RequestHeader, flash: Flash)

@main("Logging In") {
    <div class="box">
        <div class="error">
            @loginForm.globalErrors.map { error =>
                <div class="message">@error.message</div>
            }
        </div>
        @helper.form(action = routes.Auth.login(), 'class -> "pure-form pure-form-stacked") {
            @helper.inputText(loginForm("name"), '_label -> "User name")
            @helper.inputPassword(loginForm("password"), '_label -> "Password")

            <input type="submit" class="pure-button" value="Log In"/>
        }
    </div>
}
