@import 'pure';

@import 'mixins.less';
@import 'variables.less';

@import 'setup.less';
@import 'code-style.less';

@successColor: hsl(130, 60%, 80%);
@warningColor: hsl(60, 85%, 80%);
@errorColor: hsl(0, 60%, 80%);

@import 'theme.less';

.message {
    .border-radius(@smallBorderRadius);
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-colors(@baseColor) {
    background-color: @baseColor;
    border-color: darken(@baseColor, 30%);
    color: darken(@baseColor, 50%);
}

.success-message {
    .message;
    .message-colors(@successColor);
}

.warning-message {
    .message;
    .message-colors(@warningColor);
}

.error-message {
    .message;
    .message-colors(@errorColor);
}

.box {
    .border-radius(@borderRadius);
    .gradient(top, hsl(0, 0%, 95%), hsl(0, 0%, 100%));

    border: 1px solid hsl(0, 0%, 80%);
    padding: 15px;
    margin: 5px 5px 0px 5px;

    h1 {
        margin-top: 0;
    }
}

.footer {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
    color: hsl(0, 0%, 60%);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

div.clear {
  clear: both;
}

