@()(implicit request: RequestHeader, flash: Flash)

@page("Games") {
    <style>
      .games-content img {
        max-width: 200px;
        max-height: 100px;
        float: left;
        margin: 5px;
      }
    </style>
    <div class="games-content">
        <p>
            I've started creating a lot of games in my life. Few of them were playable. There wasn't to
            many games I actually finished. It is the path that was important - not the destination :)
        </p>

        <h3>Money Soccer</h3>
        <a href="http://i11.photobucket.com/albums/a192/doszes/money.png" data-lightbox="image-2" data-title="Money Soccer">
          <img src="http://i11.photobucket.com/albums/a192/doszes/money.png"/>
        </a>
        <div>
            <p>
                Inspired with a game that we were playing at school desks I've created something like that in the
                virtual world. Rules are very simple. Each turn a player can use just one of the <i>coins</i>.
                He has to hit the coin so that it passes the line between the remaining two <i>coins</i>.
                If it does the player can do another move, but cannot use the same coin again. If the coin fails
                to pass the line between the remaining two - second player gets his move. Of course the goal is to
                score a goal :)
            </p>
        </div>
        <div class="clear"></div>

        <h3>Pong</h3>
        <div>
            <p>
                This is a classic pong clone. It's the first game that was finished enough so I can show it
                to the world:)
            </p>
            <p>
                I've published the game at <a href="http://forum.gamedev.pl/index.php/topic,161.0.html">Polish gamedev forum</a>.
                Unfortunately I don't have any working copy of the game or it's code. Not even a screenshot...
            </p>
        </div>
        <div class="clear"></div>

    </div>
}

