@()(implicit request: RequestHeader, flash: Flash)

@page("Gry") {
    <div>
        <p>
            Gier w życiu zacząłem bardzo wiele, do stanu grywalności doprowadziłem garstkę, a te które
            skończyłem można policzyć na palcach jednej ręki cieśli.
        </p>

        <h3>Monney Soccer</h3>
        <img src="http://i11.photobucket.com/albums/a192/doszes/money.png"/>
        <div>
            <p>
                Zainspirowany grą, w którą graliśmy na ławkach na języku angielskim z kolegami stworzyłem
                Money Soccer. Zasady są niezwykle proste. W każdym ruchu mozna puknąć tylko jedną kulkę.
                W trakcie poruszania się musi ona przelecieć pomiędzy dwoma pozostałymi kulkami. Jeśli
                się to udało to gracz kontynuuje, ale nie może już dotknąć kulki, której używam przed ostatnio.
                Oczywiście jeśli kulka nie przetnie linii łączącej dwie pozostałe - następny gracz zaczyna
                swoją kolejkę.
            </p>
            <p>
                W taki sposób należy oczywiście strzelić jedną z kulek do bramki przeciwnika. Gra utworzona
                w Borland C++ Builder (jak prawie wszystkie moje projekty z czasów licealnych :) )
            </p>
        </div>

        <h3>Pong</h3>
        <div>
            <p>
                To jest klasyczny przykład ponga. Pierwsza gra skończona na tyle, żeby ją pokazać oraz pierwsza
                gra, którą pokazałem światu :)
            </p>
            <p>
                Grę początkowo wystawiłem na <a href="http://forum.gamedev.pl/index.php/topic,161.0.html">forum</a>
                ale niestety nie mam już raczej dostępu ani do gry ani do jej kodu :c
            </p>
        </div>
    </div>
}

