@()(implicit request: RequestHeader, flash: Flash)

@page("Muzyka") {
    <div>
        Docelowo chcę tutaj umieszczać utwory, które stworzyłem i stwierdziłem, że nie są
        na tyle okropne, żeby wrzucać je do izolatki na dysku :) (takich jest niestety większosć...)
    </div>

    <h3>Zegarmistsz Światła</h3>
    <p>
        Na początek dam link do utworu, który nagrałem całe lata temu. Jest to raczej pięciominutowe
        solo do podkładu na funkcjach Zegarmistsza Światła. Myślę, że wyszło nawet znośnie. Podkład
        to oczywiście MIDI :)
    </p>
    <p>
        Link: <a href="http://www.mediafire.com/?aynd0yzteun">http://www.mediafire.com/?aynd0yzteun</a>
    </p>
}