@()(implicit request: RequestHeader, flash: Flash)

@page("Music") {
    <div>
        This is the place for all the music I've decided to share with the world. Please don't expect
        it to be very large collection. I don't usually record my guitar sessions but when I do
        I think that they're mostly not good enough for the world.
    </div>

    <h3>Zegarmistsz Światła</h3>
    <p>
        This one I've recorded years ago. It's rather 5-minute solo with MIDI backing track but
        I think it's pretty nice :) (except the MIDI part)
    </p>
    <p>
        Link: <a href="http://www.mediafire.com/?aynd0yzteun">http://www.mediafire.com/?aynd0yzteun</a>
    </p>
}