@()(implicit request: RequestHeader, flash: Flash)

@main("Calendar", "calendar") {
  <script src="@routes.Assets.at("calendar/fullcalendar.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" href="@routes.Assets.at("calendar/fullcalendar.min.css")">

  <script>
    $(function() {
      $('#calendar').fullCalendar({
        lang: 'pl',
        firstDay: 1,
        events: "@routes.Posts.calendarData(None, None)",
        eventRender: function(event, element) {
          element.attr("title", event.title);
        }
      });
    });
  </script>

  <div class="strap">
    <div><h2>Calendar</h2></div>
  </div>
  <div class="box">
    <div id="calendar"></div>
  </div>
}

