@(postForm: Form[Post])(implicit request: RequestHeader, flash: Flash)

@import helper._
@import views.constructors.BasicConstructor._
@import views.Extensions._

@main("Post Editor", "post-edit") {
    <script src="@routes.Assets.at("controllers/edit-post.js")" type="text/javascript"></script>
    <script>
      function render(text, callback) {
        $.post("@routes.Application.renderMarkdown()", text).done(callback);
      }

      function submitPreview() {
        var data = {
          title: $("#title").val(),
          short: $("#short").val(),
          content: $("#content").val()
        };

        $.post("@routes.Preview.update()", data);
      }

      $(function() {
        $("#short, #content").keydown(function() {
          this.style.height = 'auto';
          this.style.height = (this.scrollHeight+20)+'px';
        });

        $("#content").keyup(function() {
          var content = $(this).val();
          render($(this).val(), function(html) {
            $("#preview-content").html(html);
          });
        });

        $("#short").keyup(function() {
          var content = $(this).val();
          render($(this).val(), function(html) {
            $("#preview-abstract").html(html);
          });
        });

        $("#content, #short").keydown();

        $("#title, #content, #short")
          .keyup(submitPreview).keyup();
      });
    </script>

    <div class="pure-g whole-width">
        <div class="source pure-u-1-2">
          <div class="box">
            <form id="post-form" method="post" class="pure-form pure-form-stacked">
              <p>
                  @inputText(postForm("title"), '_label -> "", 'class -> "wide", 'placeholder -> "Title")
                  @inputText(postForm("tags"), '_label -> "", 'class -> "wide", 'placeholder -> "Tags")
                  @textarea(postForm("short"), '_label -> "Abstract", 'class -> "wide", 'placeholder -> "Abstract")
                  @textarea(postForm("content"), '_label -> "Content", 'class -> "wide content", 'placeholder -> "Content")
                  <div>
                    @checkbox(postForm("published")) <label for="published">Publish post</label>
                  </div>
              </p>

              <div class="right">
                <a class="pure-button" target="about:blank" href="@routes.Preview.view()">Preview</a>
                <input type="submit" value="Save" class="pure-button"/>
              </div>
            </form>
          </div>
        </div>
        <div class="preview pure-u-1-2">
          <div class="box">
            <div id="preview-abstract"></div>
            <div id="preview-content"></div>
          </div>
        </div>
    </div>
}
