@(postForm: Form[Post])(implicit request: RequestHeader, flash: Flash, handler: helper.FieldConstructor, lang: Lang)

@import views.Extensions._

@main("New Post") {
    <style>
        .wide {
            width: 100%;
        }

        .content {
            min-height: 300px;
        }
    </style>

    <div class="box">
        <form method="post" class="pure-form pure-form-stacked">
            @helper.inputText(postForm("title"), '_label -> "Title", 'class -> "wide")
            @helper.inputText(postForm("tags"), '_label -> "Tags", 'class -> "wide")
            @helper.textarea(postForm("short"), '_label -> "Extract", 'class -> "wide")
            @helper.textarea(postForm("content"), '_label -> "Content", 'class -> "wide content")

            <div class="right">
                <input type="submit" value="Save" class="pure-button"/>
            </div>
        </form>
    </div>
}
