@(postForm: Form[Post])(implicit request: RequestHeader, flash: Flash)

@import views.Extensions._

@main("Dodaj Wpis") {
    <style>
        .wide {
            width: 100%;
        }

        .content {
            min-height: 300px;
        }
    </style>

    <div class="box">
        <form method="post" class="pure-form pure-form-stacked">
            @helper.inputText(postForm("title"), '_label -> "Tytuł", 'class -> "wide")
            @helper.inputText(postForm("tags"), '_label -> "Tagi", 'class -> "wide")
            @helper.textarea(postForm("short"), '_label -> "Skrót", 'class -> "wide")
            @helper.textarea(postForm("content"), '_label -> "Treść", 'class -> "wide content")

            <div class="right">
                <input type="submit" value="Zapisz" class="pure-button"/>
            </div>
        </form>
    </div>
}