@(posts: Seq[Post])(implicit request: RequestHeader, flash: Flash)

@import views.Extensions._

@mainPost(post: Post) = {
    <div class="main-post">
        <div class="wrapper">
            <h2 class="title">
                <a href="@routes.Posts.view(post.id.getOrElse(0))">
                    @post.title
                </a>
            </h2>
            <div class="content">
                @post.extract.markupToHtml
                <span style="display: inline-block">
                    <a href="@routes.Posts.view(post.id.getOrElse(0))">
                        Czytaj dalej &raquo;
                    </a>
                </span>
            </div>
        </div>
    </div>
}

@secondRowPost(post: Post) = {
    <div class="pure-u-24-24 pure-u-lg-12-24">
        <div class="box secondary-post">
            <div class="wrapper">
                <h3 class="title">
                    <a href="@routes.Posts.view(post.id.getOrElse(0))" class="story-link">
                        @post.title
                    </a>
                </h3>
                <div class="content">
                    @post.extract.markupToHtml

                    <a href="@routes.Posts.view(post.id.getOrElse(0))">
                        Czytaj dalej &raquo;
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@main("Blog", "index") {

    @if(posts.size == 0) {
        <div class="box center">
            Na razie nie ma żadnych postów. Wróć za jakiś czas!
        </div>
    } else {
      <div class="strap">
          @posts.lift(0).map @{ mainPost }
      </div>
    }

    <div class="pure-g">

        @posts.lift(1).map @{ secondRowPost }
        @posts.lift(2).map @{ secondRowPost }

        @posts.lift(3).map @{ secondRowPost }
        @posts.lift(4).map @{ secondRowPost }

        @if(posts.size >= 5) {
            <div class="post-container pure-u-24-24">
                <div class="post center">
                    <a href="@routes.Posts.listIndex()">
                        Pokaż więcej wpisów &raquo;
                    </a>
                </div>
            </div>
        }
    </div>
}
