@(page: Int, maxPages: Int, posts: Seq[Post], pageRoute: Int => String)(implicit request: RequestHeader, flash: Flash)

@main("Posts", "list") {
    <style>
      .page-info .pure-paginator .pure-button {
        font-size: 12px;
        height: inherit;
      }
    </style>
    <div class="strap">
        <div>
            <h1>Post list</h1>
        </div>
    </div>
    @posts.map { post =>
        <div class="box">
            <div class="post-container">
                <div class="post-title">
                    <a href="@routes.Posts.view(post.id.getOrElse(0))">
                        <h2>@post.title</h2>
                    </a>
                </div>
                <div class="post-short">@post.extract</div>
            </div>
        </div>
    }

    <div class="page-info center">
        <ul class="pure-paginator">
            @if(page > 1) {
              <li><a class="pure-button prev" href="@pageRoute(page-1)">&#171;</a></li>
            }

            @for(i <- 1 to maxPages) {
                <li>
                  <a href="@pageRoute(i)" class="pure-button @("pure-button-active".when(i == page))">
                        @i
                    </a>
                </li>
            }
            @if(page < maxPages) {
              <li><a class="pure-button next" href="@pageRoute(page+1)">&#187;</a></li>
            }
        </ul>
    </div>
}
